body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.login-box{
    border: #4f1f1f;
    width: 100;
}



.login-box h2 {
    margin-top: 200;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

.form-group {
    text-align:start;
    margin-bottom: 0px;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0526ff;
    border-radius: 5px;
}

.options {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:left;

}

.options a {
    text-decoration:double;
    color: #0080ff;
    margin: 0 20px;
    font:300;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}


/* Border Animation */
@keyframes rotateColors {
    0% {
        border-image-source: linear-gradient(45deg, #ffe600, #0099ff);
    }
    100% {
        border-image-source: linear-gradient(45deg, #0099ff, #ffe600);
    }
}

.login-box:hover {
    animation: rotateColors 1s radial infinite;
}
.button {
    display: inline-block;
    border-radius:10px;
    background-color: #1e9ef4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 0px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0px;
    transition: 0.3s;
  }
  
  .button :hover  {
    padding-right: 30px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    color: rgb(81, 255, 0);
  }