body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.login-box{
    border: #4f1f1f;
    width: 200;
}



.login-box h2 {
    margin-top: 0;
    font-family:'Courier New', Courier, monospace;
}

.form-group {
    text-align:start;
    margin-bottom: 50px;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #4f1f1f;
    border-radius: 5px;
}

.options {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:left;

}

.options a {
    text-decoration:double;
    color: #007bff;
    margin: 0 20px;
    font:300;
    font-family: 'Courier New', Courier, monospace;
}


/* Border Animation */
@keyframes rotateColors {
    0% {
        border-image-source: linear-gradient(45deg, #ffe600, #0099ff);
    }
    100% {
        border-image-source: linear-gradient(45deg, #0099ff, #ffe600);
    }
}

.login-box:hover {
    animation: rotateColors 1s radial infinite;
}
