.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #0467d1;
  }



.tradingview-widget-container1{
  position: left;
  top: 100px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.tradingview-widget-container2{
  position: absolute;
  top: 120px;
  right: 550px;
  width: 200px;
  height: 100px;
  border: 3px solid #46582b;

}


/* search bar */


.chart1{
    width: 1400px;
    height: 500px;

}

