<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nvstrr</title>
    <link rel="stylesheet" href="main.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" style="overflow-x: hidden;background-color:#FFFFFF;">
  <div class="navbar navbar-default navbar-fixed-top" style="font-family: 'Cormorant SC', serif; font-size:1.2em;">
      <div class="container-fluid ">
        <div class="navbar-header">

        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav">
            <li><a href="#topr">Home</a></li>
            <li><a href="#mid " >Portfolio</a></li>
            <li><a href="#team" >Option chain</a></li>
            <li> <a href="#footer" >Profile</a></li>
          </ul>


        </div>
      </div>
    </div>
    
    <div class="search">
        <form action="" class="search-bar">
            <input type="text">
            <button type="submit"></button>
        </form>
    </div>


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container1">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
    {
    "symbols": [
      [
        "Apple",
        "AAPL|1D"
      ]
    ],
    "chartOnly":false,
    "width": 700,
    "height": 500,
    "locale": "in",
    "colorTheme": "light",
    "autosize": false,
    "showVolume": false,
    "showMA": false,
    "hideDateRanges": false,
    "hideMarketStatus": false,
    "hideSymbolLogo": false,
    "scalePosition": "right",
    "scaleMode": "Normal",
    "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
    "fontSize": "10",
    "noTimeScale": false,
    "valuesTracking": "1",
    "changeMode": "price-and-percent",
    "chartType": "area",
    "maLineColor": "#2962FF",
    "maLineWidth": 1,
    "maLength": 9,
    "lineWidth": 2,
    "lineType": 0,
    "dateRanges": [
      "1d|1",
      "1m|30",
      "3m|60",
      "12m|1D",
      "60m|1W",
      "all|1M"
    ]
  }
    </script>
  </div>
  <!-- TradingView Widget END -->


  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container2">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
    {
    "symbols": [
      [
        "NASDAQ:GOOGL|1D"
      ]
    ],
    "chartOnly": false,
    "width": 700,
    "height": 500,
    "locale": "in",
    "colorTheme": "light",
    "autosize": false,
    "showVolume": false,
    "showMA": false,
    "hideDateRanges": false,
    "hideMarketStatus": false,
    "hideSymbolLogo": false,
    "scalePosition": "right",
    "scaleMode": "Normal",
    "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
    "fontSize": "10",
    "noTimeScale": false,
    "valuesTracking": "1",
    "changeMode": "price-and-percent",
    "chartType": "area",
    "maLineColor": "#2962FF",
    "maLineWidth": 1,
    "maLength": 9,
    "lineWidth": 2,
    "lineType": 0,
    "dateRanges": [
      "1d|1",
      "1m|30",
      "3m|60",
      "12m|1D",
      "60m|1W",
      "all|1M"
    ]
  }
    </script>
  </div>
  <!-- TradingView Widget END -->


</div>

</div>
</div>
 

</body>
</html>