.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #0467d1;
  }



.tradingview-widget-container1{
  position: left;
  top: 100px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.tradingview-widget-container2{
  position: absolute;
  top: 120px;
  right: 550px;
  width: 200px;
  height: 100px;
  border: 3px solid #46582b;

}


/* search bar */

#stock-search{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
    
}

#stock-symbol{
  width: 80%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;

}
.chart1{
    width: 1400px;
    height: 500px;

}


#suggestions {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  width: 200px;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #ddd;
}