<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="register.css">
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <title>Register</title>
    
</head>
<body>
    <div class="background"></div>
    <div class="register-container">
        <div class="login-box">
            <div class="login-box h2">
                <h2>Register</h2>
        <form id="registration-form" name ="reg" >
            <div class="form-group">
                <label for="username">Full Name</label>
                <input type="text" id="name" name="name" placeholder=" enter your Name">
            </div>

            <div class="form-group1">
                <input id="email" name="email" placeholder=" enter your Email">
                <label id="eminv" style="color: rgb(255, 0, 0); visibility: hidden;"></label>
            </div> 

            <div class="form-group1">
                <input id="tel" name="tel" placeholder=" enter your phonenumber">
                <label id="phno" style="color: red; visibility: hidden;">Invalid phonenumber</label>
            </div> 
 
            <button id="verify" class="button" style="vertical-align:middle" ><span>Verify </span></button>
             <div id="otp-container" class="hidden">
                <input type="text" id="otp" name="otp" placeholder="Enter OTP">
                <button id="submit" class="button" style="vertical-align:middle"><span>Signup </span></button>
            </div>
            <div id="otp-container" class="hidden">  
                <button id="submit" class="button" style="vertical-align:middle"><span>Signup </span></button>
            </div>
            <button type="button" class="resend-otp-btn">Resend OTP</button>

                    </form>
                </div>
            </div>






        </form>
    </div>

    
<script src="../main.js"></script>   
</body>
</html>