<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Ticker Search</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="font-family: 'Cormorant SC', serif; font-size:1.2em;">
        <div class="container-fluid ">
          <div class="navbar-header">
  
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav">
              <li><a href="#topr">Home</a></li>
              <li><a href="#mid " >Portfolio</a></li>
              <li><a href="#team" >Option chain</a></li>
              <li> <a href="#footer" >Profile</a></li>
            </ul>
  
  
          </div>
        </div>
      </div>
<div id="stock-search">
    <input type="text" id="stock-symbol" placeholder="Enter stock name ">
    <div id="suggestions"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../script/app.js">

</script>

</body>
</html>