body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    background: linear-gradient(45deg, #ffea01, #2100f4);
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #fafa00, #3902ff);
    border-image-slice: 1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-box {
    background-color: rgb(34, 37, 34);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

.input-container {
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0090fe;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eaff00;
}

.options {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
